<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
		<title>My Wiki</title>
	</head>

	<body>
		<a href="/wiki" class="main-title">
			My Wiki
		</a>
		<div class="login-area">
		<div><a class="login-link" href="/wiki/_history/{{pageUri}}">History</a></div>
		{% if logged_in %}
		<div><a class="login-link" href="/wiki/_edit/{{pageUri}}">Edit</a></div>
		<div class="login-link">{{logged_in}} | <a class = "login-link" href="/wiki/logout">(Logout)</a></div>
		{% else %}
		<div><a class="login-link" href="/wiki/login">Login</a></div>
		<div><a class="login-link" href="/wiki/signup">Sign Up</a></div>
		{% endif %}
		</div>	

		
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
			
	</body>

</html>